.list-books,
.bookshelf{
    width: 100%;
}

.list-books{
    padding-top: 30px;
    flex-grow: 1;
}

.bookshelf-header{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.left-line ,
.right-line {
    border: 1px solid #000;
    width: calc(50% - 75px);

}

.bookshelf-title{
    width: 150px;
    text-align: center;
    font-size: 13pt;
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.bookshelf-books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.login-alert-home{
    text-align: center;
    margin-top: 50px !important;
    font-size: 16pt;
}