.fullbook-content{
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 40px 10%;
}

.fullbook-image-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullbook-cover{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookshelf-handler{
    width: 100%;
}

.fullbook-bookshelf{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 210px;
}

.shelf-edit-btn{
    background-color: transparent;
    background-image: url('../../icons/edit.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.bookshelves-dropdown{
    margin-top: 5px;
    background-color: #fff;
    width: 210px;
    display: none;
    flex-direction: column;
    align-items: center;
    border: none;
    border: 1px solid #E2E2E2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.dropdown-fake{
    height: 102px;
    width: 210px;
    background-color: red;
}

.show-dropdown{
    display: flex;
    align-items: center;
    animation-name: dropdown-open;
}

.dropdown-btn{
    width: 100%;
    border: none;
    padding: 8px;
    background-color: transparent;
    outline: none;
    text-align: left;
}

.fullbook-option-btn-clicked{
    background-image: url("../../icons/tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 90%;
    background-position-y: center;
    background-size: 20px ;
}

@keyframes dropdown-open {
    from{ height: 0px; opacity: 0; }
    30%{ opacity: 0}
    to{ height: 100px; opacity: 1}
}

.bookshelves-dropdown button:hover{
    background-color: #E2E2E2;
    cursor: pointer;
}

.fullbook-details-container{
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.fullbook-title{
    padding: 0;
    margin: 0;
}

.fullbook-subtitle{
    padding: 0;
    margin: 0 40px;
}

.fullbook-authors{
    padding: 0;
    margin: 10px 0;
    color: #A8A29F;
}

.fullbook-detail-p{
    margin: 10px 0 !important;
    color: #515151;
}

.bold{
    font-weight: bold;
    color: #000;
}

.fullbook-description{
    text-align: justify;
    font-size: 10pt;
}

@media only screen and (max-width: 850px) {

    .fullbook-content{
        flex-direction: column;
        align-items: center;
        padding: 0px !important;
    }

    .fullbook-image-container{
        width: 100%;
    }

    .fullbook-cover{
        width: 60%;
        margin: 40px auto;
    }

    .fullbook-details-container{
        padding: 0;
        width: 60%;
    }

    .fullbook-title{
        padding: 0;
        margin: 0;
        font-size: 14pt;
    }

    .fullbook-subtitle{
        font-size: 10pt;
    }

    .fullbook-authors{
        font-size: 8pt;
    }

    .fullbook-detail-p{
        font-size: 10pt;
    }

    .bold{
        font-size: 10pt;
    }

    .fullbook-description{
        text-align: justify;
        font-size: 8pt;
    }
}