.book{
    width: 200px;
    background-color: #EDEDED;
    margin: 0 20px 40px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-top{
    position: relative;
    width: 100%;
}

.book-cover{
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-options{
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    display: none;
    z-index: -1;
    background-color: #fff;

}

.show-options{
    display: block;
    z-index: 0;
    -webkit-animation-name: show-book-options;
    -moz-animation-name: show-book-options;
    -o-animation-name: show-book-options;
    animation-name: show-book-options;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes show-book-options {
    from { height: 0; opacity: 0}
    30%{opacity: 0}
    to{ height: 100%; opacity: 1}
}

.book-options-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.book-options-content{
    width: 100%;
    padding-top: 5px;

}

.book-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;

}
.book-footer-header{
    display: flex;
    align-items: center;
}

.book-options-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book-option-btn{
    width: 90%;
    font-size: 10pt;
    text-align: left;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.book-option-btn-clicked{
    background-image: url("../../icons/tick.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 20px ;
}

.divider{
    width: 90%;
}


.book-title{
    font-size: 10pt;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-options-btn{
    margin-right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.book-authors{
    font-size: 8pt;
}

.no-author{
    color: #B6B6B6;
}


@media only screen and (max-width: 850px) {
    .book{
        max-width: 128px;
        margin: 20px 10px 0 10px;
     }

    .book-cover{
        width: 128px;
        height: 192px;
    }

    .book-options{
        width: 128px;

    }

    @keyframes show-book-options {
        from { height: 0; opacity: 0}
        50%{opacity: 0}
        to{ height: 192px; opacity: 1}
    }

    .book-options-header{
        padding: 0px 0 0 5px;
    }

    .book-options-content{
        padding-top: 0px;
    }

    .book-footer{
        padding: 0px;
    }

    .book-option-btn{
        font-size: 8pt;
    }

    .book-option-btn-clicked{
        background-size: 15px ;
    }


    .book-title{
        font-size: 8pt;
    }

    .book-authors{
        font-size: 6pt;
    }

    .book-options-btn{
        margin: 0px;
    }

}